.title {
  background-color : blue;
   padding : 40px;
   color:white;
   font-weight : normal;
}

h1, h2 {
  margin : 0;
  font-weight : normal;
}

h1 {
  marging-bottom: 16px;
}

app-todo, app-add-todo {
  border-bottom : 1px solid #ccc;
}
